Source: squirrelmail-change-pass
Section: web
Priority: optional
Maintainer: Konstantin L. Metlov <metlov@donfti.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://squirrelmail.org/plugin_view.php?id=21
Vcs-Git: https://www.donfti.ru/umbrella.git

Package: squirrelmail-change-pass
Architecture: all
Depends: squirrelmail (>= 2:1.4.10), ${misc:Depends}
Enhances: squirrelmail
Description: SquirrelMail plugin: Change Password
 Works with a compatible poppass daemon to allow users to change their
 passwords.
