[Desktop Entry]
Name=Umbrella
X-KDE-PluginInfo-Name=Umbrella
X-KDE-PluginInfo-Author=Konstantin L. Metlov
X-KDE-PluginInfo-Email=metlov@donfti.ru
X-KDE-PluginInfo-License=LGPLv3
