<NagiosGen xmlns:xi="http://www.w3.org/2001/XInclude">
<Group name="physical">
  <Group name="workstation">
    <Option name="notification_period">workhours</Option>
    <Option name="notification_options">n</Option>
  </Group>
</Group>
<xi:include href="../Local/NagiosGen/config.xml"><xi:fallback/></xi:include>
</NagiosGen>
