Source: squirrelmail-folder-sizes
Section: web
Priority: optional
Maintainer: Konstantin L. Metlov <metlov@donfti.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://squirrelmail.org/plugin_view.php?id=87
Vcs-Git: https://www.donfti.ru/umbrella.git

Package: squirrelmail-folder-sizes
Architecture: all
Depends: squirrelmail (>= 2:1.4.10), ${misc:Depends}
Enhances: squirrelmail
Description: SquirrelMail plugin: Folder Sizes
 Shows list of all subscribed folders with following details for each: 
 message count, unread count and space used.
 .
 Gives grand total mailbox usage stats and optionally displays sub-totals
 for each folder.
