#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

tmp_path = debian/squirrelmail-retrieveuserdata

plugin_fpath = /usr/share/squirrelmail/plugins/retrieveuserdata
plugin_tpath = $(tmp_path)$(plugin_fpath)
config_dpath = /etc/squirrelmail
config_dtpath = $(tmp_path)$(config_dpath)
config_fpath = $(config_dpath)/retrieveuserdata_config.php
config_tpath = $(tmp_path)$(config_fpath)

install_dir = install -o root -g root -m 755 -d
install_file = install -o root -g root -m 644 -c

%:
	dh $@ 

override_dh_install:
	# move the files manually
	$(install_dir) $(plugin_tpath)/
	$(install_file) *.php $(plugin_tpath)/
	# patch the ldap.php
	patch -d $(plugin_tpath)/ -p1 <debian/patches/ldap.php.patch
	$(install_dir) $(config_dtpath)/
	mv $(plugin_tpath)/config.php $(config_tpath)
	ln -s $(config_fpath) $(plugin_tpath)/config.php
	# Continue with regular dh_install
	dh_install
