<GroupPatterns xmlns:xi="http://www.w3.org/2001/XInclude">
    <!-- Please add local pattern definitions to -->
    <!-- Local/GroupPatterns/config.xml,         -->
    <!-- which is not tracked by git.            -->
    <GroupPattern>
        <!-- one dummy pattern is necessary to maintain formal validity -->
        <!-- of this xml in bcfg2 1.3.5 (may be unnecessary later)      -->
        <NamePattern>dummy-hostname</NamePattern>
        <Group>ubuntu</Group>
    </GroupPattern>
    <xi:include href="../Local/GroupPatterns/config.xml"><xi:fallback/></xi:include>
</GroupPatterns>
